@def linkBackColor #446;
@def linkHoverColor #669;
@def linkActiveColor #bde;

.entityLink {
	background: linkBackColor;
	border-radius: 5px;
	color: #fff;
	padding: 4px;
	margin: 1px;
	display: inline-block;
	cursor: pointer;
}

.entityLink:hover {
	background: linkHoverColor;
}

.entityLink:active {
	background: linkActiveColor;
	color: #000;
}

.entityLink, .entityLink > * {
	height: 20px;
	line-height: 15px;
}