@eval buttonWidth "30px";

.mainPanel {
	width: 100%;
	height: 40px;
	padding: 0 4px;
	table-layout: fixed;
}

.leftButton, .rightButton {
	position: relative;
	width: buttonWidth;
}

.leftButton {
	float: left;
}

.rightButton {
	float: right;
}