@def backColor #cce;
@def borderColor #445;

textarea {
	resize: vertical;
}

.block {
	background: backColor;
	border: borderColor solid 1px;
	border-radius: 3px;
	padding: 4px;
	margin: 4px;
}

.sidePanel {
	table-layout: fixed;
	width: 100%;
}